
body {
  background: #f9fafb;
  font-family: 'Poppins', sans-serif;
  color: #111827;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background-image: linear-gradient(orange,red,blue);
  border-radius: 25px;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0;
}
.intro h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.links a, .links span {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #111827;
  transition: 0.3s;
}
.links a:hover {
  background: #e5e7eb;
}
.edu-card {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  border-radius: 16px;
  padding: 20px;
  width: 250px;
  text-align: center;
}
section {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
section h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.skill-box {
  flex: 1;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects .project {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  margin-top: 10px;
}
.tech {
  font-size: 0.85rem;
  color: #6b7280;
}
footer {
  background: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.footer-links a {
  border: 1px solid #cccccc38;
  border-radius: 8px;
  padding: 6px 12px;
  margin: 0 5px;
  text-decoration: none;
  color: #111827;
  transition: 0.3s;
}
.footer-links a:hover {
  background: #e5e7eb;
}
.copy {
  font-size: 0.8rem;
  color: #6b7280;
  margin-top: 10px;
}
